@import '../../../../utils/styles/mixins/orderButton.scss';
@import '../../../../utils/styles/vars/vars';
@import '../../../../utils/styles/mixins/limitContainer';

.headerNav {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 95px;
  padding: $horizontalPaddings;

  background: $mainColor--blue;

  &__limitContainer {
    @include limitContainer;
  }

  &__links {
    display: flex;
    justify-content: space-between;
    align-self: center;

    width: 60%;
    max-width: 621px;

    &__link {
      margin-right: 5px;

      font-weight: 600;
      font-size: 16px;
      line-height: 38px;
      text-decoration: none;
      color: $colorWhite;

      &:not(:last-child):hover {
        text-decoration: underline;
      }

      &--order {
        @include orderButton--white;

        width: 170px;
        height: 38px;
      }
    }
  }
}