@import '../../../utils/styles/mixins/limitContainer';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 100px 25px 79px;

  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  background-color: rgba(100, 171, 249, 1);

  &__limitContainer {
    @include limitContainer;

    flex-direction: column;
  }

  &__logos {
    &__mainLogo {
      margin-bottom: 13px;

      transform: translate(0, -20px);
    }
  }

  &__contactsContainer {
    display: flex;
    justify-content: space-between;

    width: 100%;
    margin-bottom: 131px;
  }

  &__email {
    height: max-content;
    color: white;
    text-decoration: none;

    transition: 500ms;

    &:hover {
      filter: invert(100%);
    }
  }

  &__convention {
    font-size: 18px;
    line-height: 32px;
  }
}


.messangersIcons {
  display: flex;
  cursor: pointer;

  &__wrapper {
    &:not(:last-child) {
      margin-right: 30px;
    }

    &__icon {
      transition: 500ms;
  
      &:hover {
        filter: invert(100%);
      }
    }
  }
}

.viberContacts {
  width: max-content;

  &__contact {
    display: flex;

    margin-bottom: 13px;

    transition: 500ms;

    &__icon {
      margin-right: 9px;
    }

    &__phone {
      color: white;
      text-decoration: none;
    }

    &:hover {
      filter: invert(100%);
    }
  }
}