@import '../../../utils/styles/mixins/limitContainer.scss';
@import '../../../utils/styles/mixins/onSmallDesktop';

.moreInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 214px 20px 180px;

  &__limitContainer {
    @include limitContainer;
  }

  &__textBlock {
    width: 60%;
    max-width: 670px;

    &__title {
      margin-bottom: 53px;

      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      color: #111111;

      @include onSmallDesktop {
        margin-bottom: 30px;

        font-size: 28px;
        line-height: 35px;
      }
    }

    &__text {
      margin-bottom: 67px;

      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      @include onSmallDesktop {
        margin-bottom: 35px;
      }
    }
  }

  &__image {
    position: absolute;

    &--clock {
      top: 213px;
      right: 626px;

      width: 130px;

      @media (max-width: 1700px) {
        right: calc(626px - 200px);
      }

      @include onSmallDesktop {
        right: 300px;

        width: calc(130px*0.7);
      }
    }

    &--cylinder {
      z-index: 1;
      top: 436px;
      right: 256px;

      width: 254px;

      @media (max-width: 1700px) {
        right: calc(256px - 200px);
      }

      @include onSmallDesktop {
        top: 370px;
        right: 50px;

        width: calc(254px*0.7);
      }
    }

    &--order {
      top: 239px;
      right: 310px;

      width: 412px;

      @media (max-width: 1700px) {
        right: calc(310px - 200px);
      }

      @include onSmallDesktop {
        right: 100px;

        width: calc(412px*0.7);
      }
    }

    &--sphereBig {
      top: 153px;
      left: 150px;

      width: 59px;

      @include onSmallDesktop {
        width: calc(59px*0.7);
      }
    }

    &--spherePurple {
      top: 137px;
      right: 312px;

      width: 51px;

      @media (max-width: 1700px) {
        right: calc(312px - 200px);
      }

      @include onSmallDesktop {
        right: 100px;

        width: calc(51px*0.7);
      }
    }

    &--sphereSmall {
      top: 150px;
      right: 383px;

      width: 25px;

      @media (max-width: 1700px) {
        right: calc(383px - 200px);
      }

      @include onSmallDesktop {
        right: 150px;

        width: calc(25px*0.7);
      }
    }

    &--taper {
      top: 372px;
      right: 145px;

      width: 71px;

      @media (max-width: 1700px) {
        right: 0;
      }

      @include onSmallDesktop {
        top: 320px;
        right: 5px;

        width: calc(71px*0.7);
      }
    }

    &--wave {
      top: 463px;
      right: 662px;

      width: 172px;

      @media (max-width: 1700px) {
        right: calc(662px - 200px);
      }

      @include onSmallDesktop {
        top: 400px;
        right: 350px;

        width: calc(172px*0.7);
      }
    }
  }
}