@import '../../../utils/styles/mixins/orderButton.scss';
@import '../../../utils/styles/mixins/limitContainer.scss';
@import '../../../utils/styles/mixins/onSmallDesktop';

.moreInfo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 214px 20px 128px;
  // height: 724px;

  &__container {
    @include limitContainer;
  }

  &__textBlock {
    width: 60%;
    max-width: 670px;

    // @include onSmallDesktop {
    //   width: 570px;
    // }

    &__title {
      margin-bottom: 53px;

      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
      color: #111111;

      @include onSmallDesktop {  
        font-size: 28px;
        line-height: 35px;
      }
    }

    &__text {
      margin-bottom: 67px;

      font-weight: 400;
      font-size: 18px;
      line-height: 25px;

      // @include onSmallDesktop {  
      //   font-size: 18px;
      //   line-height: 21px;
      // }
    }

    &__transferToOrder {
      @include orderButton;

      height: 60px;
      width: 270px;
    }
  }

  &__image {
    position: absolute;

    &--clock {
      top: 213px;
      right: 626px;
      right: 426px;

      width: 130px;

      @include onSmallDesktop {
        right: calc(426px*0.7);

        width: calc(130px*0.7);
      }
    }

    &--cylinder {
      z-index: 1;
      top: 436px;
      right: 256px;
      right: 56px;

      width: 254px;

      @include onSmallDesktop {
        right: calc(56px*0.7);

        width: calc(254px*0.7);
      }
    }

    &--order {
      top: 239px;
      right: 310px;
      right: 126px;

      width: 412px;

      @include onSmallDesktop {
        right: calc(126px*0.7);

        width: calc(412px*0.7);
      }
    }

    &--sphereBig {
      top: 153px;
      left: 150px;

      width: 59px;

      @include onSmallDesktop {
        width: calc(59px*0.7);
      }
    }

    &--spherePurple {
      top: 137px;
      right: 312px;
      right: 116px;

      width: 51px;

      @include onSmallDesktop {
        right: calc(116px*0.7);

        width: calc(51px*0.7);
      }
    }

    &--sphereSmall {
      top: 150px;
      right: 383px;
      right: 183px;

      width: 25px;

      @include onSmallDesktop {
        right: calc(183px*0.7);

        width: calc(25px*0.7);
      }
    }

    &--taper {
      top: 372px;
      right: 145px;
      right: 50px;

      width: 71px;

      @include onSmallDesktop {
        right: calc(50px*0.7);

        width: calc(71px*0.7);
      }
    }

    &--wave {
      top: 463px;
      right: 662px;
      right: 426px;

      width: 172px;

      @include onSmallDesktop {
        right: calc(426px*0.7);

        width: calc(172px*0.7);
      }
    }
  }
}