@import '../../../../utils/styles/mixins/flexCenter.scss';

.serviceItemM {
  // min-width: 260px;
  margin-bottom: 10px;

  background: #FFFFFF;
  border-radius: 15px;

  cursor: pointer;

  transition: 300ms;

  &:hover {
    // border-radius: 15px;
    background-color: rgb(233, 242, 244);

    & .descriptionWrapper--opened .serviceItemM__description {
      background-color: rgb(233, 242, 244);
    }
  }

  &__container {
    @include flexCenter;
    // flex-direction: row;
  }

  &__top {

    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 61px;
    padding: 14px 24px 17px 24px;


    &__indicator {
      width: 15px;
      height: 15px;
      margin-right: 18px;

      background: #75E169;
      border-radius: 50%;

      transition: 800ms;

      &--opened {
        background: #67AEFC;
      }
    }

    &__title {
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      color: #111111;
    }

    &__arrow {
      height: 13px;

      transition: 300ms;

      &--opened {
        transform: rotate(180deg);
      }
    }
  }

  &__description {
    transform: translate(0, -100%);
    display: flex;
    align-items: center;

    padding: 19px 41px 46px 32px;

    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;

    transition: 500ms;

    &:hover {
      background-color: rgb(233, 242, 244);
    }

    &--opened {
      transform: translate(0);
    }

    &__text {
      padding: 0 0 0 25px;
      background-image: url('../../../../media/servicesImage/line.png');
      background-repeat: no-repeat;
      background-size: 1px 100%;
    }
  }
}

.descriptionWrapper {
  position: relative;

  height: 0px;
  
  overflow: hidden;
  background: #DAECFF;

  &--opened {
    height: max-content;
  }
}