@import '../../../../utils/styles/mixins/flexCenter.scss';
@import '../StageCardM/StageCardM.scss';

.carouselM {
  @include flexCenter;

  flex-direction: column;

  // height: 150px;
  // width: 450px;



  &__arrowsContainer {
    position: relative;
    display: flex;
  }


  &__arrowButton {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    background-image: url(../../../../media/stagesImages/rectangle.png);

    cursor: pointer;

    &:first-child {
      margin-right: 107px;
    }

    &__arrow{
      width: 12px;
      height: 24px;
    }
  }
}

.showingWindowM {
  position: relative;
  display: flex;
  // width: 100%;
  // height: 100%;
  width: $CARD__WIDTH;
  height: $CARD__HEIGHT;

  margin-bottom: 25px;

  overflow: hidden;

  &__allStages {
    position: absolute;
    display: flex;
    // height: 100%;

    transition: transform 300ms ease-in-out;
  }
}