@import '../../../../utils/styles/mixins/flexCenter.scss';
@import '../StageCardM/StageCardM.scss';

.carouselM {
  @include flexCenter;

  flex-direction: column;
}

.showingWindowM {
  position: relative;
  display: flex;
  width: $CARD__WIDTH;
  height: $CARD__HEIGHT;

  margin-bottom: 25px;

  overflow: hidden;

  &__allStages {
    position: absolute;
    display: flex;

    transition: transform 300ms ease-in-out;
  }
}