@import '../../../utils/styles/mixins/onSmallDesktop';
@import '../../../utils/styles/mixins/limitContainer';

.servicesList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 120px 20px;

  background-color: #DAECFF;

  &__limitContainer {
    @include limitContainer;

    flex-direction: column;
  }

  &__title {
    margin-bottom: 70px;

    font-weight: 800;
    font-size: 32px;
    text-align: center;
    color: #111111;
  }

  &__list {
    width: 100%;

    &__item {
      list-style: none;
    }
  }

  &__bag {
    position: absolute;
    top: 463px;
    right: 140px;
    
    @media (max-width: 1800px) {
      right: 30px;
    }
    
    @media (max-width: 1500px) {
      display: none;
    }
  }
}