@import '../../../utils/styles/mixins/onSmallDesktop';
@import '../../../utils/styles/mixins/limitContainer';

.servicesList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // margin: 120px 0;
  // height: 1200px;
  padding: 120px 20px;

  background: #DAECFF;

  &__container {
    @include limitContainer;

    flex-direction: column;
  }

  &__title {
    position: relative;
    // width: 61%;
    margin-bottom: 70px;

    font-weight: 800;
    font-size: 32px;
    text-align: center;

    color: #111111;
  }

  &__list {
    width: 100%;

    &__item {
      list-style: none;
    }
  }

  &__bag {
    position: absolute;
    right: -170px;
    bottom: -445px;

    @media (max-width: 1500px) {
      display: none;
    }
  }
}