.logo {
  position: relative;

  height: 58px;

  transition: 100ms;

  &:hover {
    transform: scale(1.2);
  }

  &__item {
    position: absolute;

    height: 46px;
    width: 42px;

    &--left {
      top: 0;
      left: 0;

      padding: 6px 18px 6px 7px;

      background-image: url(../../../media/logoImages/back--left.png);
    }

    &--right {
      top: 10px;
      left: 30px;

      padding: 6px 7px 6px 18px;

      background-image: url(../../../media/logoImages/back--right.png);
    }

    &__arrow {
      height: 34px;
      width: 17px;
    }
  }

  &__titleContainer {
    position: absolute;
    bottom: 23px;
    left: 78px;
    display: flex;
    
    &__letter {
      &:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
}