.moreInfo {
  &__transferToOrder {
    height: 60px;
    width: 269.859375px;

    color: rgba(255, 255, 255, 1);
    background: #75E169;
    border-radius: 5px;
  }
}

.button {
  height: 60px;
  width: 269.859375px;

  color: rgba(255, 255, 255, 1);
  background: #75E169;
  border-radius: 5px;
}