.shopCardM {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 335px;
  height: 260px;
  margin-bottom: 15px;
  margin-right: 20px;

  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: 335px 260px;

  transition: 700ms;

  &--hovered {
      background-image: url(../../../../media/examplesImages/backGroundImage.png);
  }
}