@mixin orderButton {
  display: table-cell;
  vertical-align: middle;
  text-align: center;

  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background: #75E169;
  border: none;
  border-radius: 5px;

  cursor: pointer;
}