@import '../../../../utils/styles/mixins/onSmallDesktop';
@import '../../../../utils/styles/mixins/limitContainer';

.headerIntro {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 766px;
  padding: 171px 25px 180px;


  &__limitContainer {
    @include limitContainer;

    justify-content: start;
  }

  &__textBlock {
    &__title {
      margin-bottom: 20px;

      font-weight: 900;
      font-size: 50px;
      line-height: 62px;

      color: #484848;

      @include onSmallDesktop {
        font-weight: 900;
        font-size: 40px;
        line-height: 52px;
      }
    }

    &__text {
      margin-bottom: 58px;

      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      color: #000000;

      @include onSmallDesktop {
        margin-bottom: 38px;
      }
    }
  }
}