@import '../../../../utils/styles/mixins/flexCenter.scss';
@import '../../../../utils/styles/mixins/onSmallDesktop';

.stageCard {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;

  padding: 0 70px;

  @include onSmallDesktop {
    padding: 0 0 0 20px;
  }

  margin-right: 25px;

  background-image: url(../../../../media/stagesImages/rectangle--big.png);
  background-repeat: no-repeat;

  &__textContainer {
    width: 300px;

    &__title {
      margin-bottom: 21px;

      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
    }

    &__description {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
    }

    @include onSmallDesktop {
      width: 55%;
    }
  }
}

.imageGroup {
  position: absolute;

  &--analysis {
    &--0 {
      top: 76px;
      right: 33px;

      width: 250px;

      @include onSmallDesktop {
        top: auto;
        right: 25px;

        width: 35%;
      }
    }
  }

  &--vSolution {
    &--0 {
      top: 100px;
      right: 60px;

      width: 227px;

      @include onSmallDesktop {
        top: auto;
        right: 25px;

        width: 35%;

      }
    }
  }

  &--realization {
    transform: rotate(15.72deg);

    &--0 {
      //barcode
      z-index: 1;
      top: 128px;
      right: 130px;

      width: 130px;
      height: 91px;

      transform: rotate(-1deg);

      @include onSmallDesktop {
        z-index: 1;
        top: calc(108px + 40px);
        right: 100px;

        width: calc(130px*0.9);
        height: calc(91px*0.9);
      }
    }

    &--1 {
      //cylinder
      top: 250px;
      right: 80px;

      width: 72px;
      height: 69px;

      transform: rotate(-1deg);

      @include onSmallDesktop {
        top: 240px;
        right: 50px;

        width: calc(72px*0.9);
        height: calc(69px*0.9);
      }
    }

    &--2 {
      //cylinder--purple
      top: 265px;
      right: 190px;

      width: 71px;
      height: 36px;

      transform: rotate(-0.3deg);

      @include onSmallDesktop {
        top: 270px;
        right: calc(210px*0.7);

        width: calc(71px*0.9);
        height: calc(36px*0.9);
      }
    }

    &--3 {
      //mobile
      top: 95px;
      right: 97px;

      width: 144px;
      height: 215px;

      transform: rotate(-1deg);

      @include onSmallDesktop {
        top: calc(75px + 40px);
        right: calc(97px*0.7);

        width: calc(144px*0.9);
        height: calc(215px*0.9);
      }
    }

    &--4 {
      //sphere--big
      top: 62px;
      right: 200px;

      width: 39px;

      @include onSmallDesktop {
        right: 140px;
        top: calc(42px + 40px);

        width: calc(39px*0.9);
      }
    }

    &--5 {
      //sphere--small
      top: 179px;
      right: 62px;

      width: 18px;

      @include onSmallDesktop {
        top: 175px;
        right: calc(62px*0.7);

        width: calc(18px*0.9);
      }
    }

    &--6 {
      //wave
      z-index: -1;
      top: 100px;
      right: 39px;

      width: 109px;

      transform: rotate(-1deg);

      @include onSmallDesktop {
        z-index: -1;
        top: 110px;
        right: calc(39px*0.7);

        width: calc(109px*0.9);
      }
    }
  }

  &--content {
    &--0 {
      //deposit--big
      top: 135px;
      right: 69px;

      width: 27px;

      @include onSmallDesktop {
        top: 165px;
        right: calc(69px*0.7);

        width: calc(19px*0.9);
      }
    }

    &--1 {
      //deposit--small
      z-index: 2;
      top: 268px;
      right: 140px;

      width: 24px;

      @include onSmallDesktop {
        top: 255px;
        right: calc(130px*0.7);

        width: calc(17px*0.9);
      }
    }

    &--2 {
      //plus--big
      z-index: 1;
      top: 198px;
      right: 58px;

      width: 99px;

      @include onSmallDesktop {
        z-index: 1;
        top: 205px;
        right: calc(58px*0.7);

        width: calc(69px*0.9);
      }
    }

    &--3 {
      //plus--small
      top: 104px;
      right: 214px;

      width: 50px;

      @include onSmallDesktop {
        top: calc(104px + 40px);
        right: calc(214px*0.7);

        width: calc(35px*0.9);
      }
    }

    &--4 {
      //sphere--pink
      top: 201px;
      right: 231px;

      width: 38px;

      @include onSmallDesktop {
        top: 215px;
        right: calc(220px*0.7);

        width: calc(27px*0.9);
      }
    }

    &--5 {
      //wallet
      top: 120px;
      right: 120px;

      width: 131px;

      @include onSmallDesktop {
        top: calc(120px + 40px);
        right: calc(120px*0.7);

        width: calc(92px*0.9);
      }
    }

    &--6 {
      //wave
      top: 256px;
      right: 208px;

      width: 100px;

      @include onSmallDesktop {
        top: 245px;
        right: calc(208px*0.7);

        width: calc(70px*0.9);
      }
    }
  }

  &--testing {
    &--0 {
      //cylinder
      top: 57px;
      right: 224px;

      width: 60px;

      @include onSmallDesktop {
        top: 110px;
        right: calc(190px*0.7);

        width: calc(60px*0.9);
      }
    }

    &--1 {
      //gear
      top: 82px;
      right: 14px;

      width: 250px;

      transform: rotate(3.04deg);

      @include onSmallDesktop {
        top: calc(82px + 60px);
        right: calc(14px*0.7);

        width: calc(175px*0.9);
      }
    }

    &--2 {
      //sphere
      top: 127px;
      right: 230px;

      width: 39px;

      transform: rotate(15.72deg);

      @include onSmallDesktop {
        top: 165px;
        right: calc(200px*0.7);

        width: calc(39px*0.9);
      }
    }
  }
}