@import '../../../utils/mixins/orderButton.scss';
@import '../../../utils/mixins/onSmallDesktop';

.order {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // height: 774px;

  background-color: #DAECFF;

  &__formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 180px 180px 128px;

    &__title {
      margin-bottom: 10px;

      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
    }

    &__text {
      margin-bottom: 27px;

      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__orderButton {
      @include orderButton;

      align-self: center;

      width: 270px;
      height: 60px;
    }
  }

  &__image {
    position: absolute;

    &--phone {
      top: 262px;
      left: 150px;

      width: 206px;

      transform: rotate(-8.9deg);

      @include onSmallDesktop {
        top: 262px;
        left: calc(150px * 0.7);
  
        width: calc(206px * 0.7);
      }
    }

    &--sphere {
      top: 363px;
      right: 210px;

      width: 67px;

      transform: rotate(3.22deg);

      @include onSmallDesktop {
        top: 363px;
        right: calc(210px * 0.7);
  
        width: calc(67px * 0.7);
      }
    }

    &--wave {
      top: 289px;
      right: 205px;

      width: 177px;

      transform: rotate(-7.91deg);

      @include onSmallDesktop {
        top: 289px;
        right: calc(205px * 0.7);
  
        width: calc(177px * 0.7);
      }
    }
  }
}

.error {
  position: absolute;

  visibility: hidden;
  font-size: 12px;
  color: red;

  &--name {
    top: 375px;
    left: 50;

    visibility: visible;
  }

  &--phone {
    top: 450px;
    left: 50;

    visibility: visible;
  }

  &--email {
    top: 526px;
    left: 50;

    visibility: visible;
  }
}