@import '../../../utils/styles/mixins/orderButton.scss';
@import '../../../utils/styles/mixins/onSmallDesktop';
@import '../../../utils/styles/blocks/formStyles.scss';

.order {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 180px 180px 128px;

  background-color: #DAECFF;

  &__formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin-bottom: 10px;

      font-weight: 800;
      font-size: 32px;
      line-height: 40px;
    }

    &__text {
      margin-bottom: 5px;

      font-weight: 400;
      font-size: 18px;
      line-height: 32px;
      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 470px;
    }

    &__orderButton {
      @include orderButton;

      align-self: center;

      width: 270px;
      height: 60px;
    }
  }

  &__image {
    position: absolute;

    &--phone {
      top: 262px;
      left: 232px;

      width: 300px;

      transform: rotate(-8.9deg);

      @media (max-width: 1750px) {
        left: 100px;
      }

      @include onSmallDesktop {
        top: 300px;
        left: 50px;

        width: calc(300px * 0.7);
      }
    }

    &--sphere {
      top: 363px;
      right: 410px;

      width: 67px;

      transform: rotate(3.22deg);

      @media (max-width: 1750px) {
        right: 210px;
      }

      @include onSmallDesktop {
        top: 363px;
        right: calc(210px * 0.7);

        width: calc(67px * 0.7);
      }
    }

    &--wave {
      top: 289px;
      right: 405px;

      width: 177px;

      @media (max-width: 1750px) {
        right: 205px;
      }

      @include onSmallDesktop {
        top: 300px;
        right: calc(190px * 0.7);

        width: calc(177px * 0.7);
      }
    }
  }
}
