@import '../../../../utils/styles/mixins/flexCenter.scss';

.serviceItem {
  margin-bottom: 10px;

  background: #FFFFFF;
  border-radius: 15px;


  cursor: pointer;
  transition: 500ms;

  &:hover {
    background-color: rgb(233, 242, 244);

    & .descriptionWrapper--opened .serviceItem__description {
      background-color: rgb(233, 242, 244);
    }
  }

  &__container {
    @include flexCenter;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 61px;
    padding: 14px 24px 15px 44px;

    &__indicator {
      width: 24px;
      height: 24px;
      margin-right: 28px;

      background: #75E169;
      border-radius: 50%;

      transition: 500ms;

      &--opened {
        background: #67AEFC;
      }
    }

    &__title {
      font-weight: 400;
      font-size: 18px;
      line-height: 61px;

      color: #111111;

      transition: 500ms;

      &--bold {
        font-weight: 700;
        font-size: 21px;
        line-height: 26px;
      }
    }

    &__arrow {
      height: 13px;

      transition: 500ms;

      &--opened {
        transform: rotate(180deg);
      }
    }
  }

  &__description {
    transform: translate(0, -100%);
    display: flex;
    align-items: center;

    padding: 18px 70px 54px 55px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    background: #FFFFFF;
    border-radius: 0px 0px 15px 15px;

    transition: 500ms;

    &:hover {
      background-color: rgb(233, 242, 244);
    }

    &--opened {
      transform: translate(0);
    }

    &__text {
      padding: 0 0 0 25px;
      background-image: url('../../../../media/servicesImage/line.png');
      background-repeat: no-repeat;
      background-size: 1px 100%;
    }
  }
}

.descriptionWrapper {
  position: relative;

  height: 0px;

  overflow: hidden;
  background: #DAECFF;

  &--opened {
    height: max-content;
  }
}