@import '../../../../utils/styles/mixins/flexCenter.scss';

.headerMobMenu {
  @include flexCenter;

  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;

  height: 328px;
  width: 100%;
  padding: 42px 25px 49px;


  background: rgba(103, 174, 252, 1);
  transition: 300ms;
  transform: translate(100%);

  &--opened {
    transform: translate(0);
  }

  &__links {
    display: flex;
    flex-direction: column;

    text-align: center;

    &__link {
      margin-bottom: 43px;

      font-weight: 800;
      font-size: 17px;
      line-height: 27px;
      text-transform: uppercase;
      text-decoration: none;
      color: #FFFFFF;

      &:focus {
        display: inline;
        border-bottom: 2px solid white;
      }
    }
  }
}