@import '../../../utils/styles/mixins/orderButton.scss';

.moreInfoM {
  // position: relative;

  // height: 724px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 43px 20px 50px;



  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // text-align: center;

    max-width: 500px;
  }

  &__title {
    align-self: center;
    font-weight: 800;
    font-size: 23px;
    line-height: 34px;

    text-align: center;

    color: #111111;
  }

  &__imagesBlock {
    // position: absolute;
    position: relative;
    align-self: center;
    width: 190px;
    height: 238px;

    &__image {
      position: absolute;

      &--clock {
        top: 56px;
        // left: 64px;
        left: -12px;

        width: 49px;
      }

      &--cylinder {
        z-index: 1;
        top: 140px;
        left: 156px;
        left: 80px;

        width: 96px;
      }

      &--order {
        // top: 33px;
        // left: 97px;
        top: 33px;
        left: 0px;

        width: 190px;
      }

      &--spherePurple {
        z-index: -1;
        top: 27px;
        left: 135px;

        width: 19px;
      }

      &--sphereSmall {
        z-index: -1;
        top: 32px;
        left: 118px;

        width: 9px;
      }

      &--taper {
        top: 115px;
        right: -26px;

        width: 27px;
      }

      &--wave {
        top: 150px;
        left: -43px;

        width: 65px;
      }
    }
  }

  &__text {
    margin-bottom: 40px;

    font-weight: 400;
    font-size: 17px;
    line-height: 30px;

    color: #111111;
  }

  &__transferToOrder {
    @include orderButton;

    border-radius: 5px;

    border-radius: 10px;
  }
}