@import '../../../utils/mixins/orderButton.scss';

.headerIntro {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 766px;

  &__textBlock {
    &__title {
      margin-bottom: 20px;

      font-weight: 900;
      font-size: 50px;
      line-height: 62px;

      color: #484848;
    }

    &__text {
      margin-bottom: 58px;

      font-weight: 400;
      font-size: 16px;
      line-height: 22px;

      color: #000000;
    }

    &__orderButton {
      @include orderButton;

      height: 60px;
      width: 270px;
    }
  }

  &__imagesContainer {
    width: 509px;
  }
}