@import '../../../utils/styles/mixins/orderButton.scss';
@import '../../../utils/styles/blocks/formStylesM.scss';

.orderM {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  // height: 801px;
  padding: 42px 20px 0px;

  background-color: #DAECFF;

  &__formBlock {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      margin-bottom: 17px;

      font-weight: 800;
      font-size: 23px;
      line-height: 34px;
    }

    &__text {
      font-weight: 400;
      font-size: 17px;
      line-height: 30px;
      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    &__orderButton {
      @include orderButton;

      align-self: center;

      width: 335px;
      height: 60px;
    }
  }

  // &__imageContainer {

  // }

}

.imageContainerM {
  position: relative;

  width: 375px;
  height: 358px;

  &__image {
    position: absolute;

    &--phoneCall {
      z-index: 1;
      bottom: 25px;
      left: 162px;
    }

    &--sphere {
      &--blue {
        bottom: 189px;
        left: 58px;

        width: 65px;
        height: 65px;
      }

      &--purple {
        bottom: 250px;
        left: 275px;

        width: 20px;
        height: 20px;

        transform: rotate(3.22deg);
      }
    }

    &--mobile {
      bottom: 74px;
      left: 81px;

      width: 172px;
      height: 242px;

      transform: rotate(-1deg);
    }
  }
}