@import '../../../utils/mixins/flexCenter.scss';
@import './StageCardM/StageCardM.scss';

.developmentStagesM {
  @include flexCenter;

  flex-direction: column;

  height: 908px;

  &__title {
    max-width: $CARD__WIDTH;
    margin-bottom: 30px;

    text-align: center;
  }

  &__image {
    position: absolute;

    &--sphere {
      top: 18px;
      left: -30px;

      width: 67px;
      height: 67px;
    }
  }
}