// @import '../../../../utils/styles/mixins/flexCenter.scss';
@import '../../../../utils/styles/mixins/flexCenter.scss';
@import '../../../../utils/styles/blocks/arrowsButtonM.scss';
// @import '../StageCardM/StageCardM.scss';

.carouselM {
  @include flexCenter;

  flex-direction: column;

  // height: 150px;
  // width: 450px;

}

.examplesShowingWindowM {
  position: relative;
  display: flex;
  width: 335px;
  // height: 100%;
  // width: $CARD__WIDTH;
  // height: $CARD__HEIGHT;

  margin-bottom: 15px;

  overflow: hidden;

  
  &__shopsSprite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 825px;

    transition: 300ms;
  }

  // &__allStages {
  //   position: absolute;
  //   display: flex;
  //   // height: 100%;

  //   transition: transform 300ms ease-in-out;
  // }
}