@import '../../../../utils/styles/mixins/flexCenter.scss';

.carouselM {
  @include flexCenter;

  flex-direction: column;
}

.examplesShowingWindowM {
  position: relative;
  display: flex;
  width: 335px;

  margin-bottom: 15px;

  overflow: hidden;

  &__shopsSprite {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    height: 825px;

    transition: 500ms;
  }
}