@import '../../../../utils/styles/mixins/onTablet';

.headerImagesM {
  &__ellipse {
    position: absolute;

    &--blue {
      top: 35px;
      right: 0;

      width: 184px;
      height: 253px;

      @include onTablet {
        width: calc(184px + 150px);
        height: 270px;
      }
    }

    &--green {
      top: 28px;
      left: 0;

      height: 66px;
    }
  }

  &__cart {
    position: absolute;
    top: 50px;
    right: 60px;

    width: 255px;

    transform: rotate(15deg);

    @include onTablet {
      right: calc(60px + 150px)
    }
  }

  &__sphere {
    position: absolute;

    &--blue {
      top: 166px;
      right: 50px;

      height: 24px;

      @include onTablet {
        right: calc(50px + 150px)
      }
    }

    &--purple {
      z-index: -1;
      top: 275px;
      right: 24px;

      height: 26px;

      @include onTablet {
        right: calc(24px + 150px)
      }

      &--small {
        top: 560px;
        right: 41px;
        
        width: 15px;
      }
    }
  }

  &__wave {
    position: absolute;

    &--blue {
      z-index: -1;
      top: 152px;
      right: 245px;

      height: 28px;

      @include onTablet {
        right: calc(245px + 150px)
      }
    }

    &--purple {
      top: 109px;
      right: 41px;

      width: 91px;

      @include onTablet {
        right: calc(41px + 150px)
      }

      &--left {
        top: 237px;
        right: 310px;

        width: 67px;

        @include onTablet {
          right: calc(310px + 150px)
        }
      }
    }
  }

  &__cylinder {
    position: absolute;

    &--blue {
      top: 35px;
      right: 184px;

      height: 22px;

      @include onTablet {
        right: calc(184px + 150px)
      }
    }

    &--pink {
      top: 233px;
      right: 60px;

      height: 35px;

      @include onTablet {
        right: calc(60px + 150px)
      }
    }
  }
}