@import '../../../../utils/styles/mixins/onSmallDesktop';
@import '../../../../utils/styles/mixins/limitContainer';

.shopCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 556px;
  height: calc(556px * 0.79);

  color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: 556px calc(556px * 0.79);

  transition: 700ms;

  &:nth-child(-n + 4) {
    margin-bottom: 38px;
  }

  &:nth-child(odd) {
    margin-right: 33px;
  }

  &--hovered {
    background-image: url(../../../../media/examplesImages/backGroundImage.png);
  }

  @include onSmallDesktop {
    width: 350px;
    height: calc(350px * 0.79);

    background-size: 350px calc(350px * 0.79);
  }
}