.logoM {
  position: relative;

  height: 35px;

  transition: 100ms;

  &:hover {
    transform: scale(1.2);
  }

  &__item {
    position: absolute;

    height: 28px;
    width: 24px;

    &--left {
      top: 0;
      left: 0;

      padding: 4px 10px 4px 4px;

      background-image: url(../../../media/logoImages/back--left.png);
      background-repeat: no-repeat;
      background-size: 24px 28px;
    }

    &--right {
      bottom: 0;
      left: 17px;

      padding: 4px 4px 4px 10px;

      background-image: url(../../../media/logoImages/back--right.png);
      background-repeat: no-repeat;
      background-size: 24px 28px;
    }

    &__arrow {
      width: 10px;
      height: 21px;
    }
  }

  &__titleContainer {
    position: absolute;
    bottom: 13px;
    left: 45px;
    display: flex;

    &__letter {
      width: 8px;
      height: 9.5px;
      
      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }
}