@import '../../../utils/styles/mixins/limitContainer';
@import '../../../utils/styles/mixins/onSmallDesktop';

.examples {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  // height: 1749px;
  padding: 121px;

  background-color: rgba(218, 236, 255, 1);

  &__container {
    @include limitContainer;

    flex-direction: column;
  }

  &__title {
    margin-bottom: 51px;

    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }

  &__shops {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    width: 1145px;

    @include onSmallDesktop {
      width: 800px;
    }
  }

  &__image {
    position: absolute;

    &--wave {
      top: 300px;
      left: 21px;

      width: 130px;

      @include onSmallDesktop {
        width: 100px;
      }
    }

    &--sphere {
      bottom: 245px;
      right: 30px;

      width: 108px;

      @include onSmallDesktop {
        width: 80px;
      }
    }
  }
}