.carousel {
  // display: flex;
  // align-items: center;

  // height: 150px;
  // width: 450px;



  &__arrowsContainer {
    position: relative;
    display: flex;
  }


}

.showingWindow {
  position: relative;
  display: flex;
  // width: 100%;
  // height: 100%;
  height: 450px;
  width: 450px;

  overflow: hidden;

  &__frame {
    width: 450px;
  }

  &__allStages {
    position: absolute;
    display: flex;
    // height: 100%;

    transition: transform 300ms ease-in-out;
  }
}

.arrowButton {
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  &__arrow {
    position: absolute;
  }
}