.order {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 680px;

  background-color: rgba(218, 236, 255, 1);

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__image {
    position: absolute;
    left: 0;
  }
}