@import '../../../utils/styles/mixins/flexCenter.scss';
@import '../../../utils/styles/mixins/limitContainer';
@import '../../../utils/styles/mixins/onSmallDesktop';

.developmentStages {
  @include flexCenter;

  position: relative;
  flex-direction: column;

  padding: 123px 25px 128px;

  &__limitContainer {
    @include limitContainer;
    flex-direction: column;

    max-width: 1369px;
  }

  &__title {
    margin-bottom: 84px;

    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
  }

  &__corousel {
    width: 100%;
  }

  &__image {
    position: absolute;

    &--sphere {
      top: 129px;
      left: 187px;

      width: 67px;
      height: 67px;

      @media (max-width: 1700px) {
        top: 129px;
        left: 80px;
      }
    }

    &--wave {
      bottom: 47px;
      right: 186px;

      width: 190px;
      height: 70px;
    }
  }
}