@import '../../../utils/styles/mixins/flexCenter.scss';
@import '../../../utils/styles/mixins/limitContainer';
@import '../../../utils/styles/mixins/onSmallDesktop';

.developmentStages {
  @include flexCenter;

  position: relative;
  flex-direction: column;

  height: 908px;
  padding: 0 25px;

  &__container {
    @include limitContainer;


    max-width: 1369px;

    flex-direction: column;
  }

  &__title {
    margin-bottom: 84px;
  }

  &__corousel {
    width: 100%;

    margin-bottom: 128px;
  }

  &__image {
    position: absolute;

    &--sphere {
      top: 50px;
      left: 87px;

      width: 67px;
      height: 67px;
    }

    &--wave {
      bottom: 47px;
      right: 186px;

      width: 190px;
      height: 70px;

      @include onSmallDesktop {
        bottom: 100px;
      }
    }
  }
}