@import '../../../../utils/styles/mixins/onSmallDesktop';

.headerImages {
  &__ellipse {
    position: absolute;

    &--blue {
      top: 82px;
      right: 0;

      width: 609px;

      @include onSmallDesktop {
        top: calc(82px*2);

        width: calc(609px*0.7);
      }
    }

    &--white {
      bottom: 41px;
      left: 0;

      width: 149px;

      @media (max-width: 1450px) {
        bottom: 10px;
      }

      @include onSmallDesktop {
        width: calc(149px*0.7);
      }
    }
  }

  &__cart {
    position: absolute;
    top: 111px;
    right: 305px;

    width: 620px;

    @media (max-width: 1800px) {
      right: calc(305px - 200px);
    }

    @include onSmallDesktop {
      top: 170px;
      right: calc(305px*0.3);

      width: calc(620px*0.7);
    }
  }

  &__sphere {
    position: absolute;

    &--blue {
      top: 413px;
      right: 249px;

      width: 59px;

      @media (max-width: 1800px) {
        right: calc(249px - 200px);
      }

      @include onSmallDesktop {
        top: 380px;
        right: calc(249px*0.3);

        width: calc(59px*0.7);
      }

      &--left {
        top: 120px;
        left: 239px;

        width: 53px;

        @media (max-width: 1800px) {
          top: 60px;
          left: 60px;
        }

        @include onSmallDesktop {
          top: 80px;
          left: 50px;

          width: calc(53px*0.7);
        }
      }
    }

    &--purple {
      top: 364px;
      right: 171px;

      width: 37px;

      @media (max-width: 1800px) {
        right: 0px;
      }

      @include onSmallDesktop {
        top: 340px;
        right: calc(171px*0.3);

        width: calc(37px*0.7);
      }
    }
  }

  &__wave {
    position: absolute;

    &--blue {
      z-index: -1;
      top: 428px;
      right: 755px;

      width: 190px;

      @media (max-width: 1800px) {
        right: calc(755px - 200px);
      }

      @include onSmallDesktop {
        top: 415px;
        right: 390px;

        width: calc(190px*0.7);
      }

    }

    &--purple {
      top: 275px;
      right: 227px;

      width: 222px;

      @media (max-width: 1800px) {
        right: calc(227px - 200px);
      }

      @include onSmallDesktop {
        top: 300px;
        right: calc(180px*0.3);

        width: calc(222px*0.7);
      }

      &--left {
        bottom: 95px;
        left: 60px;

        width: 171px;

        @media (max-width: 1450px) {
          bottom: 60px;
        }

        @include onSmallDesktop {
          bottom: 35px;
          left: calc(60px*0.7);
  
          width: calc(171px*0.7);
        }
      }
    }
  }

  &__cylinder {
    position: absolute;

    &--blue {
      top: 92px;
      right: 574px;

      width: 114px;

      @media (max-width: 1800px) {
        right: calc(574px - 200px);
      }

      @include onSmallDesktop {
        top: 150px;
        right: 300px;

        width: calc(114px*0.7);
      }
    }

    &--pink {
      bottom: 106px;
      right: 273px;

      width: 161px;

      @media (max-width: 1800px) {
        right: calc(273px - 200px);
      }

      @include onSmallDesktop {
        bottom: 200px;
        right: calc(273px*0.3);

        width: calc(161px*0.7);
      }
    }
  }
}