@import '../../../../utils/styles/mixins/onSmallDesktop';

.headerImages {
  &__ellipse {
    position: absolute;

    &--blue {
      top: 82px;
      right: 0;

      height: 550px;

      @include onSmallDesktop {
        top: calc(82px*2);

        height: calc(550px*0.7);
      }
    }

    &--white {
      bottom: 0px;
      left: 0;

      height: 185px;

      @include onSmallDesktop {
        height: calc(185px*0.7);
      }
    }
  }

  &__cart {
    position: absolute;
    top: 111px;
    right: 250px;

    height: 499px;

    @include onSmallDesktop {
      top: calc(111px*2);
      right: calc(250px*0.7);

      height: calc(499px*0.7);
    }
  }

  &__sphere {
    position: absolute;

    &--blue {
      top: 350px;
      right: 249px;

      height: 58px;

      @include onSmallDesktop {
        right: calc(249px*0.7);

        height: calc(58px*0.7);
      }

      &--left {
        top: 80px;
        left: 100px;

        height: 53px;

        @include onSmallDesktop {
          top: 80px;
          left: 50px;

          height: calc(53px*0.7);
        }
      }
    }

    &--purple {
      top: 300px;
      right: 171px;

      height: 37px;

      @include onSmallDesktop {
        top: 300px;
        right: calc(171px*0.7);

        height: calc(37px*0.7);
      }
    }
  }

  &__wave {
    position: absolute;

    &--blue {
      z-index: -1;
      top: 370px;
      right: 600px;

      height: 70px;

      @include onSmallDesktop {
        top: 410px;
        right: calc(600px*0.7);

        height: calc(70px*0.7);
      }

    }

    &--purple {
      top: 240px;
      right: 220px;

      height: 81px;

      @include onSmallDesktop {
        top: 300px;
        right: calc(220px*0.7);

        height: calc(81px*0.7);
      }

      &--left {
        bottom: 45px;
        left: 65px;

        height: 63px;

        @include onSmallDesktop {
          bottom: 35px;
          left: calc(65px*0.7);
  
          height: calc(63px*0.7);
        }
      }
    }
  }

  &__cylinder {
    position: absolute;

    &--blue {
      top: 92px;
      right: 530px;

      height: 57px;

      @include onSmallDesktop {
        top: calc(92px*2);
        right: calc(530px*0.7);

        height: calc(57px*0.7);
      }
    }

    &--pink {
      bottom: 106px;
      right: 273px;

      height: 83px;

      @include onSmallDesktop {
        bottom: 200px;
        right: calc(273px*0.7);

        height: calc(83px*0.7);
      }
    }
  }
}